{% extends 'base.html'%}
{%load static %}

{% block titulo %}
Minha história
{% endblock %}

{% block content %}

<header class="flex justify-center items-center">
    <div class="text-center flex items-center flex-col">
        <h1 class="text-violet-700 font-semibold text-8xl py-20 mt-20" style="font-family: 'Azonix', sans-serif;" >
        Minha história
        </h1>
    </div>
</header>


<section class="flex-col items-center bg-purple-900 bg-opacity-75 py-8  text-white text-2xl mx-auto">
    <h1 class="text-center max-w-lg mx-auto">
        Historia sendo desenvolvida

    </h1>
</section>

{% endblock %}