{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/logo32.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/logo32.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
</head>
<body class=" min-h-screen bg-center bg-cover bg-fixed font-primary" style="background-image: url('{% static 'images/background.png' %}')">
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}

</body>
</html>