{% load static %}

<footer class="bg-violet-950 mx-auto max-w-screen-4xl pt-20 items-center text-center bg-opacity-50">
    <div class="text-white font-semibold flex-col pb-20">
        <h1 class="text-violet-500 text-4xl pt-6" style="font-family: 'Azonix', sans-serif;">
            Contato
        </h1>
        <div class="text-2xl pt-12">
        <p> Obrigado por ter analisado o </p>
            <p>meu portfólio!</p>
            <p>Algumas características só</p>
            <p>conseguimos analisar</p>
            <p>pessoalmente, então porque não</p>
            <p>marcamos uma entrevista?</p>
        </div>
        <h1 class="text-white text-2xl pt-12">
            lorenzopastuch@gmail.com
        </h1>
        <h1 class="text-white text-2xl pt-4">
            Celular/Whatsapp: (43) 99867-3474
        </h1>
        <div class="flex justify-center pt-20">
            <a href="http://www.linkedin.com/in/lorenzo-lopes-pastuch-9867011b6" target="_blank">
                <img  class="w-20 h-auto p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="{% static 'images/linkedin.png' %}">
            </a>
            <a href= "https://www.instagram.com/lorenzopastuch/" target="_blank">
                <img class="w-20 h-auto p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="{% static 'images/instagram.png' %}">
            </a>
            <a href= "https://wa.me/5543998673474" target="_blank">
                <img class="w-20 h-auto p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="{% static 'images/whatsapp.png' %}">
            </a>
        </div>
    </div>
    <div class="bg-black bg-bottom max-w-full text-center pt-10 ">
        <h1 class="text-white text-sm  py-3">
                © 2023 por Lorenzo Pastuch. Criado utilizando Django e Tailwind
        </h1>
    </div>
</footer>
